.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.item {
  position: relative;
  cursor: pointer;
}

.item:hover .options {
  display: flex;
}

.options {
  display: none;
  position: absolute;
  border: 1px solid rgb(228, 228, 228);
  overflow-y: scroll;
}
